In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# Load the dataset in chunks
chunk_size = 100
reader = pd.read_csv("D:\\DC Universe\\Ucsc\\Third Year\\ENH 3201 Industrial Placements\\H20 Applications\\H20 ML Notebooks\\H20Csv\\Titanic\\titanic_train.csv",nrows=1000)

In [2]:
reader.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [20]:
reader.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [23]:
reader.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [22]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

# Initialize the model
model = LinearRegression()

# Initialize the counters
num_rows_processed = 0
num_chunks_processed = 0

In [56]:
drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp','Parch','Survived']
train = reader.drop(drop_elements, axis = 1)

In [57]:
train.columns

Index(['Pclass', 'Sex', 'Age', 'Fare', 'Embarked'], dtype='object')

In [58]:
train=train.dropna()

In [59]:
train.isnull().sum()

Pclass      0
Sex         0
Age         0
Fare        0
Embarked    0
dtype: int64

In [60]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    712 non-null    int64
 1   Sex       712 non-null    object
 2   Age       712 non-null    float64
 3   Fare      712 non-null    float64
 4   Embarked  712 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 33.4+ KB

In [61]:
# Define the chunk size (in number of rows)
chunk_size = 100

# Chunk the dataset into separate DataFrames based on the specified chunk size
chunks = [train[i:i+chunk_size] for i in range(0, len(train), chunk_size)]

In [62]:
# Perform linear regression analysis on each chunk
for i, chunk in enumerate(chunks):
    # Split the chunk into X and y variables
    X = chunk.drop(['Embarked','Sex'], axis=1)
    y = chunk['Pclass']

    # Fit a linear regression model to the data
    model = LinearRegression()
    model.fit(X, y)

    # Print the regression results for the current chunk
    print(f'Regression results for chunk {i}:')
    print(f'Coefficients: {model.coef_}')
    print(f'Intercept: {model.intercept_}')
    print(f'R-squared: {model.score(X, y)}')
    print()

Regression results for chunk 0:
Coefficients: [1.00000000e+00 1.00104536e-16 4.76817113e-17]
Intercept: -1.4210854715202004e-14
R-squared: 1.0

Regression results for chunk 1:
Coefficients: [ 1.00000000e+00 -4.91442867e-18  1.75021685e-18]
Intercept: 8.881784197001252e-16
R-squared: 1.0

Regression results for chunk 2:
Coefficients: [ 1.00000000e+00  2.03113822e-18 -3.70327580e-18]
Intercept: 0.0
R-squared: 1.0

Regression results for chunk 3:
Coefficients: [1.00000000e+00 2.51882856e-17 1.98533478e-17]
Intercept: -1.7763568394002505e-15
R-squared: 1.0

Regression results for chunk 4:
Coefficients: [1.00000000e+00 1.17054482e-17 5.98902323e-18]
Intercept: -2.220446049250313e-15
R-squared: 1.0

Regression results for chunk 5:
Coefficients: [1.00000000e+00 7.30709732e-17 1.68641307e-17]
Intercept: -1.1102230246251565e-14
R-squared: 1.0

Regression results for chunk 6:
Coefficients: [ 1.00000000e+00  8.10262171e-18 -4.18880767e-19]
Intercept: 4.440892098500626e-16
R-squared: 1.0

Regression results for chunk 7:
Coefficients: [ 1.00000000e+00 -8.76706361e-19 -3.28880396e-19]
Intercept: 8.881784197001252e-16
R-squared: 1.0

In [52]:
# Load new data into a pandas DataFrame
#new_data = pd.read_csv('D:\\DC Universe\\Ucsc\\Third Year\\ENH 3201 Industrial Placements\\H20 Applications\\H20 ML Notebooks\\H20Csv\\Titanic\\titanic_test.csv')
#new_data = new_data.drop(drop_elements, axis = 1)

#new_data=new_data.dropna()

In [53]:
new_data.isnull().sum()

Pclass      0
Sex         0
Age         0
Fare        0
Embarked    0
dtype: int64

In [65]:
drop_elements2 = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp','Parch']

In [68]:
# Continuously integrate new data into the analysis

new_data = pd.read_csv('D:\\DC Universe\\Ucsc\\Third Year\\ENH 3201 Industrial Placements\\H20 Applications\\H20 ML Notebooks\\H20Csv\\Titanic\\titanic_test.csv')
new_data = new_data.drop(drop_elements2, axis = 1)

new_data=new_data.dropna()
#print(new_data.info())
# Add the new data to the most recent chunk
chunks[-1] = pd.concat([chunks[-1], new_data])
# Check if the current chunk has reached the maximum chunk size
if len(chunks[-1]) >= chunk_size:
    # Perform regression analysis on the current chunk
    X = chunks[-1].drop(['Embarked','Sex'], axis=1)
    y = chunks[-1]["Pclass"]
    model = LinearRegression()
    model.fit(X, y)

    # Print the regression results for the updated chunk
    print('Regression results for updated chunk:')
    print(f'Coefficients: {model.coef_}')
    print(f'Intercept: {model.intercept_}')
    print(f'R-squared: {model.score(X, y)}')
    print()

    # Create a new chunk for the remaining data
    chunks.append(new_data)

Regression results for updated chunk:
Coefficients: [1.00000000e+00 4.14696657e-17 1.21463132e-17]
Intercept: -3.1086244689504383e-15
R-squared: 1.0