In [2]:
import h2o
from h2o.estimators.random_forest import H2ORandomForestEstimator
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  -------------------------------------------------------------------
H2O_cluster_uptime:         1 day 19 hours 29 mins
H2O_cluster_timezone:       Asia/Colombo
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.0.2
H2O_cluster_version_age:    24 days
H2O_cluster_name:           H2O_from_python_Asus_20d518
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.962 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, Infogram, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.8 final
--------------------------  -------------------------------------------------------------------

In [1]:
# Import the cars dataset.
cars = h2o.import_file("https://s3.amazonaws.com/h2o-public-test-data/smalldata/junit/cars_20mpg.csv")

# Convert the response column to a factor
cars["economy_20mpg"] = cars["economy_20mpg"].asfactor()

# Set the predictor names and the response column name
predictors = ["displacement","power","weight","acceleration","year"]
response = "economy_20mpg"

# Split the data into training and validation sets, and split
# a piece off to demonstrate adding new data with checkpointing.
# In a real world scenario, however, you would not have your
# new data at this point.
train, valid, new_data = cars.split_frame(ratios = [.7, .15], seed = 1234)

# Build the first DRF model, specifying the model_id so you can
# indicate which model to use when you want to continue training.
# We will use 1 trees to start off with and then build an additional
# 9 trees with checkpointing.
drf = H2ORandomForestEstimator(model_id="drf", ntrees = 1, seed = 1234)
drf.train(x = predictors, y = response, training_frame = train, validation_frame = valid)

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  -------------------------------------------------------------------
H2O_cluster_uptime:         25 mins 54 secs
H2O_cluster_timezone:       Asia/Colombo
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.0.2
H2O_cluster_version_age:    22 days
H2O_cluster_name:           H2O_from_python_Asus_20d518
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.963 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, Infogram, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.8 final
--------------------------  -------------------------------------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  drf


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,1.0,1.0,362.0,9.0,9.0,9.0,24.0,24.0,24.0

ModelMetricsBinomial: drf
** Reported on train data. **

MSE: 0.1
RMSE: 0.31622776601683794
LogLoss: 3.4538776394910675
Mean Per-Class Error: 0.1074561403508772
AUC: 0.8925438596491228
AUCPR: 0.916456060334081
Gini: 0.7850877192982455

Confusion Matrix (Act/Pred) for max f1 @ threshold = 1.0:

             0     1   Error           Rate
0      0  33.0   5.0  0.1316     (5.0/38.0)
1      1   6.0  66.0  0.0833     (6.0/72.0)
2  Total  39.0  71.0     0.1   (11.0/110.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold      value  idx
0                        max f1        1.0   0.923077  0.0
1                        max f2        1.0   0.919220  0.0
2                  max f0point5        1.0   0.926966  0.0
3                  max accuracy        1.0   0.900000  0.0
4                 max precision        1.0   0.929577  0.0
5                    max recall        0.0   1.000000  1.0
6               max specificity        1.0   0.868421  0.0
7              max absolute_mcc        1.0   0.780395  0.0
8    max min_per_class_accuracy        1.0   0.868421  0.0
9   max mean_per_class_accuracy        1.0   0.892544  0.0
10                      max tns        1.0  33.000000  0.0
11                      max fns        1.0   6.000000  0.0
12                      max fps        0.0  38.000000  1.0
13                      max tps        0.0  72.000000  1.0
14                      max tnr        1.0   0.868421  0.0
15                      max fnr        1.0   0.083333  0.0
16                      max fpr        0.0   1.000000  1.0
17                      max tpr        0.0   1.000000  1.0

Gains/Lift Table: Avg response rate: 61.09 %, avg score: 24.23 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.242321,1.0,1.521599,1.521599,0.929577,1.0,0.929577,1.000000,0.368715,0.368715,52.159887,52.159887,0.324855
1,2,1.000000,0.0,0.833182,1.000000,0.509009,0.0,0.610922,0.242321,0.631285,1.000000,-16.681766,0.000000,0.000000

ModelMetricsBinomial: drf
** Reported on validation data. **

MSE: 0.10416666666666667
RMSE: 0.3227486121839514
LogLoss: 3.597789207803196
Mean Per-Class Error: 0.09453781512605042
AUC: 0.9054621848739496
AUCPR: 0.9502728167883043
Gini: 0.8109243697478992

Confusion Matrix (Act/Pred) for max f1 @ threshold = 1.0:

             0     1   Error         Rate
0      0  13.0   1.0  0.0714   (1.0/14.0)
1      1   4.0  30.0  0.1176   (4.0/34.0)
2  Total  17.0  31.0  0.1042   (5.0/48.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold      value  idx
0                        max f1        1.0   0.923077  0.0
1                        max f2        0.0   0.923913  1.0
2                  max f0point5        1.0   0.949367  0.0
3                  max accuracy        1.0   0.895833  0.0
4                 max precision        1.0   0.967742  0.0
5                    max recall        0.0   1.000000  1.0
6               max specificity        1.0   0.928571  0.0
7              max absolute_mcc        1.0   0.770688  0.0
8    max min_per_class_accuracy        1.0   0.882353  0.0
9   max mean_per_class_accuracy        1.0   0.905462  0.0
10                      max tns        1.0  13.000000  0.0
11                      max fns        1.0   4.000000  0.0
12                      max fps        0.0  14.000000  1.0
13                      max tps        0.0  34.000000  1.0
14                      max tnr        1.0   0.928571  0.0
15                      max fnr        1.0   0.117647  0.0
16                      max fpr        0.0   1.000000  1.0
17                      max tpr        0.0   1.000000  1.0

Gains/Lift Table: Avg response rate: 70.83 %, avg score: 64.58 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.645833,1.0,1.366224,1.366224,0.967742,1.0,0.967742,1.000000,0.882353,0.882353,36.622391,36.622391,0.810924
1,2,1.000000,0.0,0.332180,1.000000,0.235294,0.0,0.708333,0.645833,0.117647,1.000000,-66.782007,0.000000,0.000000

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error,validation_rmse,validation_logloss,validation_auc,validation_pr_auc,validation_lift,validation_classification_error
0,,2022-02-17 16:41:05,0.010 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,2022-02-17 16:41:05,0.161 sec,1.0,0.316228,3.453878,0.892544,0.916456,1.521599,0.1,0.322749,3.597789,0.905462,0.950273,1.366224,0.104167

Variable Importances:

       variable  relative_importance  scaled_importance  percentage
0  displacement            48.331734           1.000000    0.779068
1          year             5.216829           0.107938    0.084091
2  acceleration             3.515070           0.072728    0.056660
3        weight             3.362634           0.069574    0.054203
4         power             1.611630           0.033345    0.025978

In [2]:
print('Validation Mean Per Class Error for DRF:', drf.mean_per_class_error(valid=True))

print('Validation Logloss for DRF:', drf.logloss(valid=True))

# Checkpoint on the same dataset. This shows how to train an additional
# 9 trees on top of the first 1. To do this, set ntrees equal to 10.
drf_continued = H2ORandomForestEstimator(model_id = 'drf_continued',
                                         checkpoint = drf,
                                         ntrees = 10,
                                         seed = 1234)
drf_continued.train(x = predictors, y = response, training_frame = train, validation_frame = valid)

Validation Mean Per Class Error for DRF: [[1.0, 0.09453781512605042]]
Validation Logloss for DRF: 3.597789207803196
drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  drf_continued


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,10.0,10.0,3855.0,7.0,10.0,7.5,19.0,33.0,23.7

ModelMetricsBinomial: drf
** Reported on train data. **

MSE: 0.06906472392878718
RMSE: 0.26280168174649715
LogLoss: 1.0803127898273153
Mean Per-Class Error: 0.08583030669895077
AUC: 0.9521539548022598
AUCPR: 0.9561827669425524
Gini: 0.9043079096045197

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.6666666666666667:

              0      1   Error           Rate
0      0  101.0   11.0  0.0982   (11.0/112.0)
1      1   13.0  164.0  0.0734   (13.0/177.0)
2  Total  114.0  175.0   0.083   (24.0/289.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value   idx
0                        max f1   0.666667    0.931818   5.0
1                        max f2   0.250000    0.949782  10.0
2                  max f0point5   0.800000    0.937896   3.0
3                  max accuracy   0.666667    0.916955   5.0
4                 max precision   0.800000    0.967320   3.0
5                    max recall   0.000000    1.000000  14.0
6               max specificity   1.000000    0.955357   0.0
7              max absolute_mcc   0.666667    0.825719   5.0
8    max min_per_class_accuracy   0.666667    0.901786   5.0
9   max mean_per_class_accuracy   0.666667    0.914170   5.0
10                      max tns   1.000000  107.000000   0.0
11                      max fns   1.000000   34.000000   0.0
12                      max fps   0.000000  112.000000  14.0
13                      max tps   0.000000  177.000000  14.0
14                      max tnr   1.000000    0.955357   0.0
15                      max fnr   1.000000    0.192090   0.0
16                      max fpr   0.000000    1.000000  14.0
17                      max tpr   0.000000    1.000000  14.0

Gains/Lift Table: Avg response rate: 61.09 %, avg score: 62.07 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.505119,1.000000,1.581572,1.581572,0.966216,1.000000,0.966216,1.000000,0.798883,0.798883,58.157180,58.157180,0.755023
1,2,0.505119,0.928571,0.000000,1.581572,0.000000,0.000000,0.966216,1.000000,0.000000,0.798883,-100.000000,58.157180,0.755023
2,3,0.638225,0.500000,1.091248,1.479312,0.666667,0.668132,0.903743,0.930787,0.145251,0.944134,9.124767,47.931168,0.786239
3,4,0.709898,0.250000,0.389731,1.369306,0.238095,0.319048,0.836538,0.869025,0.027933,0.972067,-61.026869,36.930597,0.673821
4,5,1.000000,0.000000,0.096287,1.000000,0.058824,0.013053,0.610922,0.620705,0.027933,1.000000,-90.371344,0.000000,0.000000

ModelMetricsBinomial: drf
** Reported on validation data. **

MSE: 0.05999999999999999
RMSE: 0.2449489742783178
LogLoss: 0.1826135624064031
Mean Per-Class Error: 0.06512605042016806
AUC: 0.9779411764705882
AUCPR: 0.9911866652105465
Gini: 0.9558823529411764

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.7:

             0     1   Error         Rate
0      0  13.0   1.0  0.0714   (1.0/14.0)
1      1   2.0  32.0  0.0588   (2.0/34.0)
2  Total  15.0  33.0  0.0625   (3.0/48.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold      value  idx
0                        max f1        0.7   0.955224  3.0
1                        max f2        0.1   0.971429  7.0
2                  max f0point5        0.7   0.963855  3.0
3                  max accuracy        0.7   0.937500  3.0
4                 max precision        1.0   1.000000  0.0
5                    max recall        0.1   1.000000  7.0
6               max specificity        1.0   1.000000  0.0
7              max absolute_mcc        0.7   0.852892  3.0
8    max min_per_class_accuracy        0.7   0.928571  3.0
9   max mean_per_class_accuracy        0.7   0.934874  3.0
10                      max tns        1.0  14.000000  0.0
11                      max fns        1.0  12.000000  0.0
12                      max fps        0.0  14.000000  8.0
13                      max tps        0.1  34.000000  7.0
14                      max tnr        1.0   1.000000  0.0
15                      max fnr        1.0   0.352941  0.0
16                      max fpr        0.0   1.000000  8.0
17                      max tpr        0.1   1.000000  7.0

Gains/Lift Table: Avg response rate: 70.83 %, avg score: 69.17 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.458333,1.00,1.411765,1.411765,1.000000,1.000000,1.000000,1.000000,0.647059,0.647059,41.176471,41.176471,0.647059
1,2,0.562500,0.90,1.411765,1.411765,1.000000,0.900000,1.000000,0.981481,0.147059,0.794118,41.176471,41.176471,0.794118
2,3,0.666667,0.80,1.129412,1.367647,0.800000,0.800000,0.968750,0.953125,0.117647,0.911765,12.941176,36.764706,0.840336
3,4,0.729167,0.54,0.470588,1.290756,0.333333,0.633333,0.914286,0.925714,0.029412,0.941176,-52.941176,29.075630,0.726891
4,5,1.000000,0.00,0.217195,1.000000,0.153846,0.061538,0.708333,0.691667,0.058824,1.000000,-78.280543,0.000000,0.000000

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error,validation_rmse,validation_logloss,validation_auc,validation_pr_auc,validation_lift,validation_classification_error
0,,2022-02-17 16:41:05,-39.-503 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,2022-02-17 16:41:05,-39.-352 sec,1.0,0.204980,1.451209,0.958333,0.959688,1.588010,0.042017,0.322749,3.597789,0.905462,0.950273,1.366224,0.104167
2,,2022-02-17 16:41:45,0.105 sec,2.0,0.243561,1.959175,0.940807,0.941483,1.557412,0.056497,0.338502,3.626670,0.899160,0.947505,1.364706,0.125000
3,,2022-02-17 16:41:45,0.164 sec,3.0,0.287126,2.415216,0.922841,0.931464,1.545934,0.091743,0.300463,1.572903,0.924370,0.953516,1.361345,0.104167
4,,2022-02-17 16:41:45,0.203 sec,4.0,0.295387,2.291697,0.920093,0.925378,1.533852,0.100806,0.252591,0.844615,0.965336,0.987187,1.411765,0.083333
5,,2022-02-17 16:41:45,0.227 sec,5.0,0.294239,2.038089,0.924005,0.929293,1.539951,0.105660,0.251661,0.172655,0.972689,0.988891,1.411765,0.083333
6,,2022-02-17 16:41:45,0.253 sec,6.0,0.287953,1.731669,0.933142,0.942278,1.562948,0.094545,0.236927,0.162312,0.978992,0.991690,1.411765,0.083333
7,,2022-02-17 16:41:45,0.276 sec,7.0,0.268506,1.333353,0.947363,0.955513,1.583379,0.099644,0.238690,0.165129,0.978992,0.991684,1.411765,0.083333
8,,2022-02-17 16:41:45,0.297 sec,8.0,0.259223,1.084097,0.952930,0.957349,1.582670,0.084211,0.233854,0.163199,0.980042,0.992180,1.411765,0.062500
9,,2022-02-17 16:41:45,0.319 sec,9.0,0.269930,1.203132,0.946860,0.949691,1.570512,0.086806,0.235702,0.169125,0.980042,0.992180,1.411765,0.062500
10,,2022-02-17 16:41:45,0.339 sec,10.0,0.262802,1.080313,0.952154,0.956183,1.581572,0.083045,0.244949,0.182614,0.977941,0.991187,1.411765,0.062500

Variable Importances:

       variable  relative_importance  scaled_importance  percentage
0  displacement           223.995926           1.000000    0.421434
1        weight           131.843002           0.588596    0.248054
2         power           116.327461           0.519328    0.218863
3          year            30.608467           0.136647    0.057588
4  acceleration            28.734339           0.128281    0.054062

In [3]:
print('Validation Mean Per Class Error for DRF with Checkpointing:', drf_continued.mean_per_class_error(valid=True))

print('Validation Logloss for DRF with Checkpointing:', drf_continued.logloss(valid=True))

improvement_drf = drf.logloss(valid=True) - drf_continued.logloss(valid=True)
print('Overall improvement in logloss is {0}'.format(improvement_drf))

Validation Mean Per Class Error for DRF with Checkpointing: [[0.7, 0.06512605042016806]]
Validation Logloss for DRF with Checkpointing: 0.1826135624064031
Overall improvement in logloss is 3.415175645396793

In [4]:
# Checkpoint on a new dataset. Notice that to train on new data,
# you set training_frame to new_data (not train) and leave the
# same dataset to use for validation.
drf_newdata = H2ORandomForestEstimator(model_id='drf_newdata',
                                       checkpoint='drf',
                                       ntrees=15,
                                       seed=1234)
drf_newdata.train(x=predictors, y=response, training_frame=new_data, validation_frame=valid)

print('Validation Mean Per Class Error for DRF:', drf_newdata.mean_per_class_error(valid=True))
('Validation Mean Per Class Error for DRF:', [[0.5575757582982381, 0.06512605042016806]])

print('Validation Logloss for DRF:', drf_newdata.logloss(valid=True))
('Validation Logloss for DRF:', 0.17670074914138334)

improvement_drf =  drf.logloss(valid=True) - drf_newdata.logloss(valid=True)
print('Overall improvement in logloss is {0}'.format(improvement_drf))

drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Validation Mean Per Class Error for DRF: [[0.5575757582982381, 0.06512605042016806]]
Validation Logloss for DRF: 0.17670074914138334
Overall improvement in logloss is 3.4210884586618127

## Data Procesing

In [3]:
import pandas as pd

In [4]:
train = pd.read_csv("D:\\DC Universe\\Ucsc\\Third Year\\ENH 3201 Industrial Placements\\H20 Applications\\H20 ML Notebooks\\H20Csv\\Titanic\\titanic_train.csv")
test = pd.read_csv("D:\\DC Universe\\Ucsc\\Third Year\\ENH 3201 Industrial Placements\\H20 Applications\\H20 ML Notebooks\\H20Csv\\Titanic\\titanic_test.csv")
subs = pd.read_csv('D:\\DC Universe\\Ucsc\\Third Year\\ENH 3201 Industrial Placements\\H20 Applications\\H20 ML Notebooks\\H20Csv\\Titanic\\gender_submission.csv')

drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp','Parch']
train = train.drop(drop_elements, axis = 1)
test = test.drop(drop_elements, axis = 1)

def checkNull_fillData(df):
    for col in df.columns:
        if len(df.loc[df[col].isnull() == True]) != 0:
            if df[col].dtype == "float64" or df[col].dtype == "int64":
                df.loc[df[col].isnull() == True,col] = df[col].mean()
            else:
                df.loc[df[col].isnull() == True,col] = df[col].mode()[0]
                
checkNull_fillData(train)
checkNull_fillData(test)

str_list = [] 
num_list = []
for colname, colvalue in train.iteritems():
    if type(colvalue[1]) == str:
        str_list.append(colname)
    else:
        num_list.append(colname)
        
train = pd.get_dummies(train, columns=str_list)
test = pd.get_dummies(test, columns=str_list)

train = h2o.H2OFrame(train)
test = h2o.H2OFrame(test)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [5]:
train.describe()

Rows:891
Cols:9

,Survived,Pclass,Age,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
type,int,int,real,real,int,int,int,int,int
mins,0.0,1.0,0.42,0.0,0.0,0.0,0.0,0.0,0.0
mean,0.3838383838383838,2.3086419753086447,29.699117647058795,32.20420796857465,0.35241301907968575,0.6475869809203143,0.18855218855218855,0.08641975308641975,0.7250280583613917
maxs,1.0,3.0,80.0,512.3292,1.0,1.0,1.0,1.0,1.0
sigma,0.4865924542648575,0.8360712409770491,13.002015226002891,49.69342859718089,0.4779900708960982,0.4779900708960982,0.3913721645054733,0.28114069214170423,0.44675091003414663
zeros,549,0,0,15,577,314,723,814,245
missing,0,0,0,0,0,0,0,0,0
0,0.0,3.0,22.0,7.25,0.0,1.0,0.0,0.0,1.0
1,1.0,1.0,38.0,71.2833,1.0,0.0,1.0,0.0,0.0
2,1.0,3.0,26.0,7.925,1.0,0.0,0.0,0.0,1.0
3,1.0,1.0,35.0,53.1,1.0,0.0,0.0,0.0,1.0
4,0.0,3.0,35.0,8.05,0.0,1.0,0.0,0.0,1.0
5,0.0,3.0,29.69911764705882,8.4583,0.0,1.0,0.0,1.0,0.0
6,0.0,1.0,54.0,51.8625,0.0,1.0,0.0,0.0,1.0
7,0.0,3.0,2.0,21.075,0.0,1.0,0.0,0.0,1.0
8,1.0,3.0,27.0,11.1333,1.0,0.0,0.0,0.0,1.0
9,1.0,2.0,14.0,30.0708,1.0,0.0,1.0,0.0,0.0

In [6]:
test.describe()

Rows:418
Cols:8

,Pclass,Age,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
type,int,real,real,int,int,int,int,int
mins,1.0,0.17,0.0,0.0,0.0,0.0,0.0,0.0
mean,2.2655502392344493,30.27259036144579,35.627188489208606,0.36363636363636365,0.6363636363636364,0.24401913875598086,0.11004784688995216,0.645933014354067
maxs,3.0,76.0,512.3292,1.0,1.0,1.0,1.0,1.0
sigma,0.8418375519640504,12.634534168325061,55.840500479541056,0.4816221409322308,0.4816221409322308,0.4300188157360399,0.3133244005170708,0.4788026786626084
zeros,0,0,2,266,152,316,372,148
missing,0,0,0,0,0,0,0,0
0,3.0,34.5,7.8292,0.0,1.0,0.0,1.0,0.0
1,3.0,47.0,7.0,1.0,0.0,0.0,0.0,1.0
2,2.0,62.0,9.6875,0.0,1.0,0.0,1.0,0.0
3,3.0,27.0,8.6625,0.0,1.0,0.0,0.0,1.0
4,3.0,22.0,12.2875,1.0,0.0,0.0,0.0,1.0
5,3.0,14.0,9.225,0.0,1.0,0.0,0.0,1.0
6,3.0,30.0,7.6292,1.0,0.0,0.0,1.0,0.0
7,2.0,26.0,29.0,0.0,1.0,0.0,0.0,1.0
8,3.0,18.0,7.2292,1.0,0.0,1.0,0.0,0.0
9,3.0,21.0,24.15,0.0,1.0,0.0,0.0,1.0

In [7]:
train1, valid1, new_data1 = train.split_frame(ratios = [.7, .15], seed = 1234)

In [8]:
#train.columns
test.columns

['Pclass',
 'Age',
 'Fare',
 'Sex_female',
 'Sex_male',
 'Embarked_C',
 'Embarked_Q',
 'Embarked_S']

In [9]:
predictors = ["Age","Embarked_C","Pclass","Embarked_Q","Sex_male"]
response = "Fare"

In [10]:
titanic = H2ORandomForestEstimator(model_id="titanic", ntrees = 1, seed = 1234)
titanic.train(x = predictors, y = response, training_frame = train1, validation_frame = valid1)

drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  titanic


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,1.0,1.0,1801.0,15.0,15.0,15.0,139.0,139.0,139.0

ModelMetricsRegression: drf
** Reported on train data. **

MSE: 1133.3550884778363
RMSE: 33.6653395716995
MAE: 17.77549033043748
RMSLE: 0.7013625743352557
Mean Residual Deviance: 1133.3550884778363

ModelMetricsRegression: drf
** Reported on validation data. **

MSE: 908.6602305039935
RMSE: 30.14399161531189
MAE: 18.11057029921433
RMSLE: 0.7471205311672524
Mean Residual Deviance: 908.6602305039935

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance,validation_rmse,validation_mae,validation_deviance
0,,2022-02-19 11:52:32,0.050 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,,2022-02-19 11:52:32,0.098 sec,1.0,33.66534,17.77549,1133.355088,30.143992,18.11057,908.660231

Variable Importances:

     variable  relative_importance  scaled_importance  percentage
0      Pclass        497683.031250           1.000000    0.855305
1  Embarked_C         61223.972656           0.123018    0.105218
2         Age         19492.304688           0.039166    0.033499
3    Sex_male          3118.316406           0.006266    0.005359
4  Embarked_Q           360.259369           0.000724    0.000619

In [14]:
# # load the model
# saved_model = h2o.load_model(model_path)

# # download the model built above to your local machine
# my_local_model = h2o.download_model(model, path="/Users/UserName/Desktop")

# # upload the model that you just downloded above
# # to the H2O cluster
# uploaded_model = h2o.upload_model(my_local_model)

In [13]:
model_path = h2o.save_model(model=titanic, path="D:\\DC Universe\\Ucsc\\Third Year\\ENH 3201 Industrial Placements\\H20 Applications\\H20 ML Notebooks\\H20Csv\\Titanic\\", force=True)
print (model_path)

D:\DC Universe\Ucsc\Third Year\ENH 3201 Industrial Placements\H20 Applications\H20 ML Notebooks\H20Csv\Titanic\titanic

In [15]:
titanic = h2o.load_model("D:\\DC Universe\\Ucsc\\Third Year\\ENH 3201 Industrial Placements\\H20 Applications\\H20 ML Notebooks\\H20Csv\\Titanic\\titanic")

In [16]:
titanic

Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  titanic


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,1.0,1.0,1801.0,15.0,15.0,15.0,139.0,139.0,139.0

ModelMetricsRegression: drf
** Reported on train data. **

MSE: 1133.3550884778363
RMSE: 33.6653395716995
MAE: 17.77549033043748
RMSLE: 0.7013625743352557
Mean Residual Deviance: 1133.3550884778363

ModelMetricsRegression: drf
** Reported on validation data. **

MSE: 908.6602305039935
RMSE: 30.14399161531189
MAE: 18.11057029921433
RMSLE: 0.7471205311672524
Mean Residual Deviance: 908.6602305039935

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance,validation_rmse,validation_mae,validation_deviance
0,,2022-02-19 11:52:32,0.050 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,,2022-02-19 11:52:32,0.098 sec,1.0,33.66534,17.77549,1133.355088,30.143992,18.11057,908.660231

Variable Importances:

     variable  relative_importance  scaled_importance  percentage
0      Pclass        497683.031250           1.000000    0.855305
1  Embarked_C         61223.972656           0.123018    0.105218
2         Age         19492.304688           0.039166    0.033499
3    Sex_male          3118.316406           0.006266    0.005359
4  Embarked_Q           360.259369           0.000724    0.000619

In [11]:
train2, valid2, new_data2 = test.split_frame(ratios = [.7, .15], seed = 1234)

In [12]:
# Checkpoint on the same dataset. This shows how to train an additional
# 9 trees on top of the first 1. To do this, set ntrees equal to 10.
titanic_continued = H2ORandomForestEstimator(model_id = 'titanic_new',
                                         checkpoint = titanic,
                                         ntrees = 4,
                                         seed = 1234)
titanic_continued.train(x = predictors, y = response, training_frame = train2, validation_frame = valid2)

drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  titanic_new


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,4.0,4.0,5764.0,13.0,20.0,12.25,85.0,139.0,75.5

ModelMetricsRegression: drf
** Reported on train data. **

MSE: 2146.237534249252
RMSE: 46.327503000369575
MAE: 20.323413028791258
RMSLE: 0.6753339178022078
Mean Residual Deviance: 2146.237534249252

ModelMetricsRegression: drf
** Reported on validation data. **

MSE: 1937.71312079991
RMSE: 44.01946297718669
MAE: 25.51143854038388
RMSLE: 0.9055540088172322
Mean Residual Deviance: 1937.71312079991

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance,validation_rmse,validation_mae,validation_deviance
0,,2022-02-19 11:52:32,-20.-739 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,,2022-02-19 11:52:32,-20.-691 sec,1.0,50.878531,21.325502,2588.624951,44.124799,25.311824,1946.997898
2,,2022-02-19 11:52:52,0.042 sec,2.0,49.565239,21.452445,2456.712907,46.402843,26.467226,2153.223877
3,,2022-02-19 11:52:52,0.060 sec,3.0,47.453296,20.112071,2251.815287,45.073059,26.415759,2031.580672
4,,2022-02-19 11:52:52,0.077 sec,4.0,46.327503,20.323413,2146.237534,44.019463,25.511439,1937.713121

Variable Importances:

     variable  relative_importance  scaled_importance  percentage
0      Pclass        641299.187500           1.000000    0.404932
1         Age        632948.687500           0.986979    0.399660
2  Embarked_C        200252.921875           0.312261    0.126445
3    Sex_male         77170.390625           0.120334    0.048727
4  Embarked_Q         32047.763672           0.049973    0.020236