In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
data = {'Name' : ['Satyapriya Chaudhari', 'Shreyasi Sengupta', 'Chandrakant Kate', 'Juned Khan', 'Jamsheer Kutty',  'Rahul Dukale', 'Chanchal Kedia', 'Sanchita Mangale', 'Anshuman Jadhav', 'Mithul Somasundara'],
'Company' : ['Microsoft', 'Google', 'Google', 'Tesla', 'Tesla', 'Google', 'Google', 'Microsoft', 'Microsoft', 'Tesla'],
'Progress' : [80,73,65,62,60,44,43,42,39,45],
'Points' : [13518, 12705, 11598, 10717, 10140, 7451, 7410, 6191, 5738, 4750]}

In [ ]:
df = pd.DataFrame(data, columns = ['Name', 'Company', 'Progress', 'Points'])
df

In [ ]:
pd.pivot_table(df, index=['Company'], aggfunc='mean')

In [ ]:
pd.pivot_table(df, index=['Company'], aggfunc='max')

In [ ]:
pd.pivot_table(df, index=['Company'], aggfunc= lambda x: 100 - max(x))['Progress']

In [ ]:
# http://cmdlinetips.com/2018/02/introduction-to-split-apply-combine-with-pandas/

In [ ]:
data = {'col_a' : [10,20,30,40], 
        'col_b' : [100,120,140,160],
        'col_c' : [500,600,700,800],
        'col_d' : [14,24,36,499]}

In [ ]:
df = pd.DataFrame(data)
df

In [ ]:
df['company'] = ['Google', 'Google', 'Amazon', 'Amazon']
df['location'] = ['Mumbai', 'Bangalore', 'Mumbai', 'Bangalore']

In [ ]:
df.groupby(['company']).agg({'col_a':['sum', 'max'], 
                         'col_b':'mean', 
                         'col_c':'sum', 
                         'col_d': lambda x: x.max() - x.min()})

In [ ]:
x = np.arange(0,20,0.1)
y1 = np.sin(x)
y2 = np.cos(x)
y3 = np.sqrt(x)
y4 = np.power(x,1)

plt.figure()
plt.subplot(2,2,1)
plt.plot(x,y1, label='Sin of X')
plt.title('Sine of X')

plt.subplot(2,2,2)
plt.plot(x,y2, label='Cosine of X')
plt.title('Cosine of X')
plt.show()

plt.subplot(2,2,3)
plt.plot(x,y3, label='Square Root X')
plt.title('Square Root X')

plt.subplot(2,2,4)
plt.plot(x,y4, label='Y = X')
plt.title('Y = X')
plt.show()

In [ ]:
x = np.arange(0,20,0.1)
y1 = np.sin(x)
y2 = np.cos(x)
y3 = np.sqrt(x)
y4 = np.power(x,1)

plt.figure()
plt.subplot(2,1,1)
plt.plot(x,y1, label='Sin of X')
plt.title('Sine of X')


plt.subplot(2,2,3)
plt.plot(x,y3, label='Square Root X')
plt.title('Square Root X')

plt.subplot(2,2,4)
plt.plot(x,y4, label='Y = X')
plt.title('Y = X')
plt.tight_layout()
plt.show()

In [ ]:
# https://matplotlib.org/users/gridspec.html

In [ ]:
raw_data = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'name' : ['Satyapriya Chaudhari', 'Shreyasi Sengupta', 'Chandrakant Kate', 'Juned Khan', 'Jamsheer Kutty']
}
df_a = pd.DataFrame(raw_data, columns = ['subject_id', 'name'])
df_a

In [ ]:
raw_data = {
        'subject_id': ['4', '5', '6', '7', '8'],
         'name': ['Rahul Dukale', 'Chanchal Kedia', 'Sanchita Mangale', 'Anshuman Jadhav', 'Mithul Somasundara']
        }
df_b = pd.DataFrame(raw_data, columns = ['subject_id', 'name'])
df_b

In [ ]:
raw_data = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}
df_n = pd.DataFrame(raw_data, columns = ['subject_id','test_id'])
df_n

In [ ]:
df_new = pd.concat([df_a, df_b])
df_new

In [ ]:
pd.concat([df_a, df_b], axis=1)

In [ ]:
pd.merge(df_new, df_n, on='subject_id')

In [ ]:
pd.merge(df_new, df_n, left_on='subject_id', right_on='subject_id')

In [ ]:
# Inner join produces only the set of records that match in both Table A and Table B
pd.merge(df_a, df_b, on='subject_id', how='inner')

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='right')

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='left')

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='left')

In [ ]:
pd.merge(df_a, df_b, right_index=True, left_index=True)

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='left', suffixes=('_left', '_right'))